/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #101010; /* Dark background color */
    color: #ffffff; /* Text color for better contrast */
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Ensure the main content takes up the available space */
main {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101010; /* Match the dark background color */
    padding: 2em;
}

.logo {
    height: 50px; /* Adjust the height as needed */
    margin-left: 20px;
}

.menu-button {
    height: 25px; /* Adjust the height to make the button smaller */
    width: auto; /* Maintain aspect ratio */
    margin-right: 20px;
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 1001; /* Ensure it is on top of the menu */
    position: relative;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh; /* Reduced height to move content up */
    padding: 0.5em 2em; /* Further reduced top padding */
    position: relative; /* Allow absolute positioning inside */
}

.hero-content {
    display: flex;
    justify-content: space-between; /* Space between text and carousel */
    width: 100%;
}

.text-and-image {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    position: relative; /* Allow absolute positioning inside */
}

.text-content {
    top: 100;
    max-width: 100%;
    z-index: 1; /* Ensure text is below the image */
    position: relative;
    margin-top: 150px;
    opacity: 0;
    transform: translateY(20px); /* Reduce the initial transform distance */
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.1s; /* Reduce the delay to make the elements appear faster */
}

.image-content {
    position: absolute;
    top: -20px; /* Adjust the top position as needed */
    left: 30%; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 2; /* Ensure the image is above the text */
}

.image-content img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the container */
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%; /* Adjust width as needed */
    margin-left: 20px; /* Space between text and carousel */
    overflow: hidden; /* Hide overflowing images */
    opacity: 0;
    transform: translateY(20px); /* Reduce the initial transform distance */
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.2s; /* Slightly delayed compared to project-description */
}

.carousel {
    width: 100%; /* Full width of carousel section */
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease;
    width: max-content; /* Ensure the width is only as wide as the images */
}

.carousel-images img {
    width: 285px; /* Adjust the width as needed */
    height: 580px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the images cover the space without distortion */
    margin-right: 10px; /* Space between images */
}

.subheading {
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #cccccc;
    margin-bottom: 0.5em; /* Adjusted margin */
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0 0.5em 0; /* Adjusted margin */
}

.description {
    font-size: 1.125em;
    color: #aaaaaa;
    max-width: 600px;
    margin: 0 0 1em 0; /* Adjusted margin */
}

.buttons {
    display: flex;
    gap: 1em;
}

.button {
    text-decoration: none;
    padding: 0.75em 1.5em;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button.primary {
    background-color: #f0e68c; /* Light color for primary button */
    color: #101010; /* Dark text color */
}

.button.secondary {
    background-color: #333333; /* Dark color for secondary button */
    color: #ffffff; /* Light text color */
}

.button:hover {
    opacity: 0.8;
}

.lang-button {
    background-color: #333333; /* Dark background */
    color: #ffffff; /* Light text */
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s;
    float: right;
}

.lang-button:hover {
    background-color: #555555; /* Slightly lighter on hover */
}

footer {
    background-color: #101010; /* Match the dark background color */
    color: #aaaaaa;
    text-align: center;
    padding: 1em;
    position: sticky;
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hidden {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with some transparency */
    z-index: 999; /* Ensure it is on top of other elements */
    opacity: 0;
    animation: fadeIn 0.5s forwards, slideIn 0.5s forwards;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin: 1em 0;
}

#menu a {
    text-decoration: none;
    font-size: 2em;
    color: #555555; /* Default color for menu items */
    transition: color 0.3s;
}

#menu a:hover {
    color: white; /* Hover color */
}

#menu a.active {
    color: #ffffff; /* Active link color */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Reduce the initial transform distance */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .text-and-image {
        flex-direction: column;
        align-items: center;
    }

    .text-content, .carousel-section {
        max-width: 100%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-bottom: 1em;
    }

    .carousel-images img {
        width: 100px; /* Adjust the width for smaller screens */
        height: 100px; /* Adjust the height for smaller screens */
    }
}






















